@tailwind base;
@tailwind components;
@tailwind utilities;


/* aplicado para quando o usuario clicar no cabeçalho de uma tabela */
.sortable {
    cursor: pointer;
}

/* Cor de fundo para indicar que a coluna foi ordenada */
.sorted {
    background-color: #e0e0e0;
}

/* Adicionando bordas entre as células */
table {
    border-collapse: collapse; /* Isso vai juntar as bordas das células */
    width: 100%;
}

/* Adicionando bordas nas células da tabela */
th, td {
    border: 1px solid #ddd; /* Borda fina e cinza clara */
    padding: 8px; /* Adiciona um pouco de espaçamento nas células */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Opcional: Borda entre as linhas */
tr:hover {
    background-color: #f5f5f5; /* Destacar a linha ao passar o mouse */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#tabela-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Faz com que o container ocupe 100% da altura da tela */
}

#tabela-wrapper {
    height: 100%; /* Define altura total */
    flex-grow: 1; /* Faz com que a tabela ocupe o máximo de espaço disponível */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    max-height: calc(100vh - 200px); /* Ajuste conforme necessário para evitar sobreposição com o rodapé */
    position: relative;
}


/* fundo azul no cabeçalho */
.div-navegador {
    background-color: #fdfdff;
    color: white;
    text-align: center;
}
