@tailwind base;
@tailwind components;
@tailwind utilities;


/* aplicado para quando o usuario clicar no cabeçalho de uma tabela */
.sortable {
    cursor: pointer;
}

/* Cor de fundo para indicar que a coluna foi ordenada */
.sorted {
    background-color: #e0e0e0;
}

/* Adicionando bordas entre as células */
table {
    border-collapse: collapse; /* Isso vai juntar as bordas das células */
    width: 100%;
}

/* Adicionando bordas nas células da tabela */
th, td {
    border: 1px solid #ddd; /* Borda fina e cinza clara */
    padding: 8px; /* Adiciona um pouco de espaçamento nas células */
    text-align: left; /* Alinha o texto à esquerda */
}

/* Opcional: Borda entre as linhas */
tr:hover {
    background-color: #f5f5f5; /* Destacar a linha ao passar o mouse */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#tabela-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Faz com que o container ocupe 100% da altura da tela */
}

#tabela-wrapper {
    height: 100%; /* Define altura total */
    flex-grow: 1; /* Faz com que a tabela ocupe o máximo de espaço disponível */
    overflow-y: auto; /* Adiciona rolagem se necessário */
    max-height: calc(100vh - 200px); /* Ajuste conforme necessário para evitar sobreposição com o rodapé */
    position: relative;
}


/* fundo azul no cabeçalho */
.div-navegador {
    background-color: #a1a5a5;
    color: white;
    text-align: center;
}

/* fundo azul no rodape */
.div-rodape {
    background-color: #96a5a5;
    color: white;
    text-align: center;
}

    /* Seletores mais específicos para garantir aplicação */
    #slider-preco .noUi-handle-upper {
        right: 0px!important;
    }

    #slider-preco .noUi-target {
        height: 6px !important;
        border: none !important;
        background: linear-gradient(90deg, #e0e0e0, #f3f3f3) !important;
        border-radius: 6px;
    }

    /* barra */
    #slider-preco .noUi-base {
        height: 16px !important;
    }

    #slider-preco .noUi-connect {
        background: linear-gradient(90deg, #48bb78, #38a169) !important;
        border-radius: 6px;
    }

    /* apontadores laterais */
    #slider-preco .noUi-handle {
        width: 16px !important;
        height: 16px !important;
        top: 0px !important;
        background-color: #3a38a1 !important;
        border: 2px solid white !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
        transition: transform 0.2s, background-color 0.2s;
        cursor: pointer;
    }

    #slider-preco .noUi-handle:hover {
        background-color: #2f855a !important;
        transform: scale(1.1);
    }
